@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.footer_wrap{
    width: 100%;
    box-shadow: 0 -2px 0 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    background-color: #172146;
    padding: 80px 16%;
    color: #fff;
    font-family: Raleway,sans-serif;
}

.footer_cols{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_column{
    font-size: 13px;
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .3px;
    text-align: left;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-top: 0;
}

.footer_title{
    color: hsla(0,0%,100%,.5);
    font-weight: 500;
    display: inline-flex;
    margin-bottom: 15.21px;
}

.footer_item{
    margin-right: 0;
    font-size: 13px;
    font-family: Roboto;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .3px;
    text-align: left;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    /* line-height: 1.5; */
}

.footer_item > img{
    color: #fff;
    margin-left: 4px;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    padding: 0;
    position: relative;
    bottom: -5px;
}

.social_icon_wrapper{
    margin: 20px 0;
}

.social_logo{
    height: 20px;
    padding-left: 0;
    padding-right: 12px;
    margin-left: 4px;
    margin-right: 4px;
}