@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.card_wrapper{
    display: inline-block;
    margin: 0 auto;
    margin-top: 0;
    width: 33.33%;
    max-width: 280px;
    box-sizing: unset;
    min-height: 400px;
    height: auto;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    border: 1px solid rgba(0,168,255,.3);
    text-decoration: none;
    color: unset;
    font-family: Raleway,sans-serif;
}

.card_wrapper > img{
    width: 100%;
    height: 176px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card_cont_desc{
    padding: 11.2px 24px;
}

.card_cont_desc > h3{
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.14;
    color: #000;
}

.card_cont_desc > p{
    padding-top: 4px;
    font-family: Raleway;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: #0096ff;
}

.blog_date{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    margin-top: 4.2px;
}

.card_cont_desc{
    padding-top: 6px;
    opacity: .5;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: .35px;
    text-align: left;
    color: #000;
    margin: 4.2px 0;
    white-space: pre-wrap;
    height: 180px;
    overflow: hidden;
}